body {
    font-size: 16px;
}

p {
    font-size: 2rem;
    font-family: 'Syne Mono', monospace;
font-family: 'Syne Tactile',cursive;
}

.keypoint {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}